body{
  background-color: #ffffff;
}

.button {
    background-color: blue;
    color: white;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#div{
  padding: 30px;
  background-color: black;
  color: white;
  width: 350px;
  font-family:cursive;
  border-radius: 15px;
  margin-top: 200px;
  margin-left: 450px;
}

#footer{
    text-align: center;
    position: absolute;
    bottom: 0px;
}
