.container {
    padding: 16px;
    align-content: center;
}

.submit {
  cursor: pointer;
  display: inline-block;
  padding: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  background-color: red;
  color: white;
}
.form-hasil {
  display: block;
  width: 100%;
  padding: 6px 2px;
    margin-bottom: 15px;
}
    
input[type=text], input[type=password], input[type=number], input[type=time]{
    width: 400;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
