
table{
  margin: 0em 3em 2em 0em;
  padding: 5px;
  width: 100%;
  border: 1px solid #ffffff;
}

.row_name{
  background-color: #01579B;
}

.row_1{
  background-color: #039BE5;
}
.row_2{
  background-color: #81D4FA;
}

td{
    vertical-align:middle;
    text-align:center;;
    padding:7px;
    font-size:14px;
    font-family:Arial;
    font-weight:normal;
    color:white;
}

.size{
  display: grid;
  width: 100%;
  height: 2em;
  border: 1px solid #ccc;
}

.button {
    background-color: #282d48;
    color: white;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-left: 90%;
}
